name: Flake8 Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wemake-python-styleguide

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v14.6

      - name: Lint all python changed files
        run: |
          FILES=$(echo ${{ steps.changed-files.outputs.all_changed_files }} | grep -P '(/?\w*)*\.py' -o | tr '\n' ' ')
          [ ! -z "$FILES" ] && FILES=$(echo $FILES | sed -e 's/.$//' -e 's/^/.\//' -e 's/ / .\//g')
          [ -z "$FILES" ] && echo No python files to check || (echo Checking files: $FILES ...  && flake8 $FILES --count --statistics)
